@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #F2F0EF;
  --text-color:  #050301;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #050301;
    --text-color: #FDE512;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

.app-description,
.contents {
  padding: 1rem 0;
}

#app {
  padding: .3rem 1.5rem;
}

li {
  margin-left: 1rem;
}

.chevron {
  padding-right: .5rem;
}

.clickable {
  cursor: pointer;
}

.item {
  padding-bottom: .5rem;
}